.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#click,#number_of_object
{
font-size: 18px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px goldenrod;
    border-radius: 11px;
    margin-top: 30px;
}
#number_of_object{
color: rgb(169, 178, 54);
}
